#container-tiptotal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Space Mono';
   

#div-a{
    justify-self: start;
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 14px;
    font-family: 'Space Mono';



}

#label2{
    color:hsl(172, 48%, 37%) ;
}
}

#div-b{
    justify-self: end;
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 34px;
    color:hsl(172, 67%, 45%);
    font-family: 'Space Mono';


}
